# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Static files
staticfiles/
static/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
*.egg-info/
dist/
build/
